.nav {
    border-bottom: 1px solid #ddd;
    padding: 16px 0;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            a {
                color: #444;
                text-decoration: none;
                font-size: 14px;
                padding: 12px 16px;
                border-radius: 4px;
                &:hover {
                    background-color: #efefef;
                }
            }
        }
    }
}